[{kernel,
	[{start_timer, true}, {start_pg2, true}]},
 {sasl, 
	[{sasl_error_logger, {file, "log/pavilion_sasl.log"}}]},
 {lager, [
	{error_logger_redirect, false},
	{crash_log, "log/erlang_crash.log"},
	{handlers, [
		{lager_console_backend, info},
		{lager_file_backend, [
			{"log/pavilion_error.log", info, 20485760, "$D0", 5}
		]}
	]}
 ]},
 {amqp_client, [
 	 {prefer_ipv6, false},
     {broker, [
                 {host, "localhost"},
                 {vhost, <<"/extend104">>},
                 {user, <<"extend104">>},
                 {password, <<"public">>}
             ]},
     {reconn_policy, [
                 {interval, 30}
             ]}
     ]},
 {pavilion,
	[{httpd, [{port, 8080}]}]
 }
].
