[{kernel,
	[{start_timer, true}, {start_pg2, true}]},
 {sasl, 
	[{sasl_error_logger, {file, "log/master_sasl.log"}}]},
 {lager, [
	{error_logger_redirect, false},
	{crash_log, "log/master_crash.log"},
	{handlers, [
		{lager_console_backend, info},
		{lager_file_backend, [
			{"log/master_info.log", info, 20485760, "$D0", 5},
			{"log/master_error.log", error, 20485760, "$D0", 5}
		]}
	]}
 ]},
 {amqp_client, [
 	 {prefer_ipv6, false},
     {broker, [
                 {host, "localhost"},
                 {vhost, <<"/extend104">>},
                 {user, <<"extend104">>},
                 {password, <<"public">>}
             ]},
     {reconn_policy, [
                 {interval, 30}
             ]}
     ]},
 {emysql,
         [{pool_size, 1},
          {host, "localhost"},
          {port, 3306},
          {username, "root"},
          {password, "public"},
          {database, "sensorui"},
          {encoding, utf8}]},
 {master,
	[{ertdb, [{host, "127.0.0.1"}, {port, 6320}, {reconnect_sleep, 1000}]},
	{httpd, [{port, 8080}]}]
 }
].
