[{kernel,
	[{start_timer, true}, {start_pg2, true}]},
 {sasl, 
	[{sasl_error_logger, {file, "log/import_sasl.log"}}]},
 {lager, [
	{error_logger_redirect, false},
	{crash_log, "log/erlang_crash.log"},
	{handlers, [
		{lager_console_backend, info},
		{lager_file_backend, [
			{"log/import_info.log", info, 20485760, "$D0", 5}
		]}
	]}
 ]}
].
