[{kernel,
	[{start_timer, true}, {start_pg2, true}]},
 {sasl, 
	[{sasl_error_logger, {file, "log/extend104_sasl.log"}}]},
 {lager, [
	{error_logger_redirect, false},
	{crash_log, "log/extend104_crash.log"},
	{handlers, [
		{lager_console_backend, info},
		{lager_file_backend, [
			{"log/extend104_info.log", info, 20485760, "$D0", 5},
			{"log/extend104_error.log", error, 20485760, "$D0", 5}
		]}
	]}
 ]},
 {amqp_client, [
     {broker, [
                 {host, "localhost"},
                 {vhost, <<"/extend104">>},
                 {user, <<"extend104">>},
                 {password, <<"public">>}
             ]},
     {reconn_policy, [
                 {interval, 30}
             ]}
     ]},
 {extend104,
	[
    {httpd, [{port, 8080}]}
	]
 }
].
