[{kernel,
	[{start_timer, true}, {start_pg2, true}]},
 {sasl, 
	[{sasl_error_logger, {file, "log/inter_sasl.log"}}]},
 {lager, [
	{error_logger_redirect, false},
	{crash_log, "log/inter_crash.log"},
	{handlers, [
		{lager_file_backend, [
			{"log/inter_info.log", info, 20485760, "$D0", 5},
			{"log/inter_error.log", error, 20485760, "$D0", 5}
		]}
	]}
 ]},
 {emysql,
         [{pool_size, 1},
          {host, "localhost"},
          {port, 3306},
          {username, "root"},
          {password, "public"},
          {database, "sensorui"},
          {encoding, utf8}]},
 {inter,
	[{httpd, [{port, 8080}]},
	{mqtt, [{host, "127.0.0.1"}, {port, 1883}] },
	{cid_offset, 0},
	{port_num, 2},
	{conn_num, 10},
	{key_num, 10},
	{interval, 60}]
 }
].
