[{kernel, 
    [{start_timer, true}]},
{lager, [
        {error_logger_redirect, false},
        {crash_log, "var/log/agent_crash.log"},
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [
                {"var/log/agent.log", warning, 20485760, "$D0", 5}
            ]}
        ]}
 ]},
{amqp_client, [
 	 {prefer_ipv6, false},
     {broker, [
                 {host, "localhost"},
                 {vhost, <<"/extend104">>},
                 {user, <<"extend104">>},
                 {password, <<"public">>}
             ]},
     {reconn_policy, [
                 {interval, 30}
             ]}
     ]},
 {agent,
	[]
    }
].

